<% include partials/header.ejs %>
<h1>Details</h1>
<h3><%=campground.name%></h3>
<br>
<img src="<%=campground.image%>" alt="img.png">
<br>
<p><%=campground.description%></p>
<br>
<% campground.comments.forEach(function(comment){%>
  <p>
      <strong><%=comment.author%></strong> - <%=comment.text%>
  </p>  
<%})%>
<% include partials/footer.ejs %>
